@font-face {
    font-family: 'Hangeuljaemin4';
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/Hangeuljaemin4-Regular/Hangeuljaemin4-Regular.otf') format('opentype'),
    url('assets/fonts/Hangeuljaemin4-Regular/Hangeuljaemin4-Regular.ttf') format('truetype');
}

#root {
    display: flex;
    justify-content: center;
}
